arcolinux-tweak-tool
arcolinux-welcome-app
arcologout
autostart
cef_user_data
chromium
Code
Code - OSS
code-oss
configstore
conky
dconf
discord
Electron
fontconfig
galculator
gconf
gtk-3.0
htop
JetBrains
Kvantum
nano
neofetch
nextjs-nodejs
nitrogen
nomacs
pamac
Postman
pulse
qt5ct
Rambox
ristretto
rofi
Slack
termite
Thunar
variety
volumeicon
xfce4
mimeapps.list
pavucontrol.ini
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yad.conf