arcolinux-logo
arcolinux-tweak-tool
arcolinux-welcome-app
arcologout
autostart
catfish
gpick
gtk-2.0
i3
obmenu-generator
**/__pycache__
picom.conf
openbox
plank
polybar
tint2
cef_user_data
chromium
Code
Code - OSS
code-oss
configstore
conky
dconf
discord
Electron
filezilla
galculator
geany
gconf
gtk-3.0
htop
JetBrains
Kvantum
libreoffice
mimeapps.list
nano
neofetch
nextjs-nodejs
nitrogen
nomacs
pamac
pavucontrol.ini
Postman
pulse
qt5ct
Rambox
ristretto
Slack
Thunar
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety
volumeicon
xfce4
yad.conf